Repository microsoft/SynapseML, changes with the owners that CODEOWNERS names for each.
All owners: @mhamilton723, @drdarshan, @imatiach-msft, @dciborow, @miguelgfierro, @gramhagen, @dbanda, @eisber, @rolevin, @memoryz, @serena-ruan, @svotaw

CODEOWNERS:

# For general updates to the library
*                @mhamilton723 @drdarshan

# Ilya's Areas
lightgbm/        @imatiach-msft
automl/          @imatiach-msft
featurize/       @imatiach-msft
featurize/text/  @mhamilton723
train/           @imatiach-msft

# Dan's Areas
recommendation/  @dciborow
recommendation/  @miguelgfierro
recommendation/  @gramhagen

# Dalitso's Areas
tools/helm/      @dbanda

# Markus' Areas
vw/              @eisber
isolationforest/ @eisber
recommendation/  @eisber

#Roy's Areas
cyber/           @rolevin

#Jason's Areas
explainers/      @memoryz

#Serena's Areas
website/         @serena-ruan
core/src/main/dotnet @serena-ruan
core/src/main/scala/com/microsoft/azure/synapse/ml/codegen @serena-ruan

# Scott's Areas
lightgbm/        @svotaw

Add developer docs
  website/docs/reference/developer-readme.md
Owners: @serena-ruan

update version for pre-commit hooks
  .pre-commit-config.yaml
Owners: @mhamilton723, @drdarshan

remove manual black hook config
  hooks/pre-commit
Owners: @mhamilton723, @drdarshan

fix: update library to use netstandard2.1 as target framework
  core/src/main/dotnet/src/dotnetBase.csproj
  core/src/main/dotnet/test/dotnetTestBase.csproj
  core/src/main/scala/com/microsoft/azure/synapse/ml/codegen/DotnetCodegen.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/codegen/DotnetTestGen.scala
Owners: @serena-ruan, @mhamilton723, @drdarshan

fix target framework and refactor some tasks
  build.sbt
  core/src/main/dotnet/src/Internal/Dotnet/CompilerServices.cs
  core/src/main/dotnet/src/org/apache/spark/ml/feature/StringIndexer.cs
  core/src/test/scala/com/microsoft/azure/synapse/ml/codegen/DotnetTestGen.scala
  project/CodegenPlugin.scala
  project/build.scala
Owners: @mhamilton723, @drdarshan, @serena-ruan

add sample notebook for dl
  core/src/test/scala/com/microsoft/azure/synapse/ml/nbtest/DatabricksUtilities.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/nbtest/DeepLearningTests.scala
  notebooks/deepLearning/DeepLearning - Deep Vision Classifier.ipynb
Owners: @mhamilton723, @drdarshan

format notebook
  notebooks/deepLearning/DeepLearning - Deep Vision Classifier.ipynb
Owners: @mhamilton723, @drdarshan

remove extra comments
  requirements.txt
Owners: @mhamilton723, @drdarshan

updating data balance documentation to better reflect its role on fairness
  notebooks/features/responsible_ai/DataBalanceAnalysis - Adult Census Income.ipynb
  website/docs/features/responsible_ai/Data Balance Analysis.md
Owners: @mhamilton723, @drdarshan, @serena-ruan
