Repository microsoft/SynapseML, changes with the owners that CODEOWNERS names for each.
All owners: @mhamilton723, @drdarshan, @imatiach-msft, @dciborow, @miguelgfierro, @gramhagen, @dbanda, @eisber, @rolevin, @memoryz

Remove use of null
  core/src/test/scala/com/microsoft/ml/spark/exploratory/DataImbalanceTestBase.scala
Owners: @mhamilton723, @drdarshan

Make fixes to build Python package
  core/src/main/scala/com/microsoft/ml/spark/exploratory/AggregateMeasures.scala
  core/src/main/scala/com/microsoft/ml/spark/exploratory/DataImbalanceParams.scala
Owners: @mhamilton723, @drdarshan

Apply suggestions and fix
  core/src/main/scala/com/microsoft/ml/spark/explainers/ICEExplainer.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/ICEExplainerSuite.scala
Owners: @memoryz

add detailed class documentation (finish cognitive package for now) & add pytest codeblocks in the samples directly
  build.sbt
  environment.yaml
  website/docs/documentation/models/deep_learning/_ONNXModel.md
  website/docs/documentation/models/models_deep_learning.md
  website/docs/documentation/transformers/cognitive/_AnomalyDetection.md
  website/docs/documentation/transformers/cognitive/_ComputerVision.md
  website/docs/documentation/transformers/cognitive/_Face.md
  website/docs/documentation/transformers/cognitive/_FormRecognizer.md
  website/docs/documentation/transformers/cognitive/_SpeechToText.md
  website/docs/documentation/transformers/cognitive/_TextAnalytics.md
  website/docs/documentation/transformers/cognitive/_Translator.md
  website/docs/documentation/transformers/transformers_cognitive.md
  website/docs/documentation/transformers/transformers_core.md
  website/docs/features/onnx/ONNX - Inference on Spark.md
  website/docs/features/onnx/about.md
  website/doctest.py
  website/docusaurus.config.js
  website/notebookconvert.py
  website/sidebars.js
  website/src/plugins/examples/index.js
  website/src/theme/DocumentationTable/index.js
Owners: @mhamilton723, @drdarshan

address comments & fix typo in pip package installation
  environment.yaml
  website/src/pages/index.js
Owners: @mhamilton723, @drdarshan

update links in notebooks & address comments
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CognitiveServices - Predictive Maintenance.ipynb
  notebooks/Regression - Auto Imports.ipynb
  notebooks/Regression - Flight Delays with DataCleaning.ipynb
  website/docs/examples/cognitive_services/CognitiveServices - Predictive Maintenance.md
  website/docs/examples/regression/Regression - Auto Imports.md
  website/docs/examples/regression/Regression - Flight Delays with DataCleaning.md
  website/docs/features/CognitiveServices - Overview.md
  website/notebookconvert.py
Owners: @mhamilton723, @drdarshan

fix links in all markdowns
  website/docs/features/http/about.md
  website/docs/features/lightgbm/about.md
  website/docs/features/model_interpretability/about.md
  website/docs/features/onnx/about.md
  website/docs/features/spark_serving/about.md
  website/docs/features/vw/about.md
  website/docs/getting_started/first_example.md
  website/docs/getting_started/installation.md
  website/docs/reference/contributing_guide.md
Owners: @mhamilton723, @drdarshan, @imatiach-msft, @eisber

update read-more link
  website/src/pages/index.js
Owners: @mhamilton723, @drdarshan

chore: Fix pom for sbt dependencies
  build.sbt
Owners: @mhamilton723, @drdarshan

chore: Fix pom for sbt dependencies (#1202)
  build.sbt
Owners: @mhamilton723, @drdarshan

chore: Fix pom for sbt dependencies (#1202)
  build.sbt
Owners: @mhamilton723, @drdarshan

chore: bump version numbers
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CyberML - Anomalous Access Detection.ipynb
Owners: @mhamilton723, @drdarshan

chore: bump version numbers (#1203)
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CyberML - Anomalous Access Detection.ipynb
Owners: @mhamilton723, @drdarshan

chore: bump version numbers (#1203)
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CyberML - Anomalous Access Detection.ipynb
Owners: @mhamilton723, @drdarshan

feat: updata versions in README.md
  README.md
Owners: @mhamilton723, @drdarshan

add AzureSearch sample
  website/docs/documentation/transformers/cognitive/_AzureSearch.md
  website/docs/documentation/transformers/transformers_cognitive.md
Owners: @mhamilton723, @drdarshan

update docs with updated version
  website/docs/examples/CyberML - Anomalous Access Detection.md
  website/docs/features/CognitiveServices - Overview.md
Owners: @mhamilton723, @drdarshan

update version & solve indent problem on synapse
  notebooks/Regression - Auto Imports.ipynb
  notebooks/Regression - Flight Delays with DataCleaning.ipynb
  website/docs/about.md
  website/docs/documentation/models/deep_learning/_ONNXModel.md
  website/docs/documentation/transformers/cognitive/_AnomalyDetection.md
  website/docs/documentation/transformers/cognitive/_AzureSearch.md
  website/docs/documentation/transformers/cognitive/_BingImageSearch.md
  website/docs/documentation/transformers/cognitive/_ComputerVision.md
  website/docs/documentation/transformers/cognitive/_Face.md
  website/docs/documentation/transformers/cognitive/_FormRecognizer.md
  website/docs/documentation/transformers/cognitive/_SpeechToText.md
  website/docs/documentation/transformers/cognitive/_TextAnalytics.md
  website/docs/documentation/transformers/cognitive/_Translator.md
  website/docs/documentation/transformers/transformers_cognitive.md
  website/docs/examples/regression/Regression - Auto Imports.md
  website/docs/examples/regression/Regression - Flight Delays with DataCleaning.md
  website/docs/getting_started/first_example.md
  website/docs/getting_started/installation.md
  website/docs/reference/R-setup.md
  website/docs/reference/contributing_guide.md
  website/docs/reference/docker.md
  website/docusaurus.config.js
  website/src/pages/index.js
Owners: @mhamilton723, @drdarshan

WIP: opencv project depends on javacv bindings, and unit tests pass.
  build.sbt
  core/src/test/scala/com/microsoft/ml/spark/lime/SuperpixelSuite.scala
  opencv/src/main/scala/com/microsoft/ml/spark/opencv/ImageTransformer.scala
  opencv/src/main/scala/com/microsoft/ml/spark/opencv/OpenCVUtils.scala
Owners: @mhamilton723, @drdarshan

feat: updata versions in README.md (#1205)
  README.md
Owners: @mhamilton723, @drdarshan

feat: updata versions in README.md (#1205)
  README.md
Owners: @mhamilton723, @drdarshan

WIP: superpixel replacement
  core/src/main/scala/com/microsoft/ml/spark/io/image/ImageUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/LIME.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/Superpixel.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/SuperpixelTransformer.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/SamplerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/lime/SuperpixelSuite.scala
  opencv/src/main/scala/com/microsoft/ml/spark/opencv/ImageTransformer.scala
Owners: @mhamilton723, @drdarshan, @memoryz

WIP: fixing logic
  core/src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  core/src/main/scala/com/microsoft/ml/spark/io/image/ImageUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/Superpixel.scala
  core/src/test/scala/com/microsoft/ml/spark/lime/SuperpixelSuite.scala
Owners: @memoryz, @mhamilton723, @drdarshan

WIP: SuperpixelTransformer done.
  core/src/main/scala/com/microsoft/ml/spark/explainers/ImageExplainer.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/LIME.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/Superpixel.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/SuperpixelTransformer.scala
  core/src/test/scala/com/microsoft/ml/spark/lime/SuperpixelSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/lime/SuperpixelTransformerSuite.scala
Owners: @memoryz, @mhamilton723, @drdarshan

WIP: explainers compiles
  core/src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  core/src/main/scala/com/microsoft/ml/spark/io/image/ImageUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/Superpixel.scala
Owners: @memoryz, @mhamilton723, @drdarshan

fix: use synapse default ubuntu version
  lightgbm/src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
Owners: @imatiach-msft

fix: don't crash on fallback storage location (#1183)
  core/src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
Owners: @mhamilton723, @drdarshan

fix: don't crash on fallback storage location (#1183)
  core/src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
Owners: @mhamilton723, @drdarshan

WIP: Fixing unit tests for LIME
  core/src/main/scala/com/microsoft/ml/spark/io/image/ImageUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/LIME.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/SuperpixelTransformer.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/explainers/split2/ImageLIMEExplainerSuite.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/lime/ImageLIMESuite.scala
Owners: @mhamilton723, @drdarshan, @memoryz

WIP: fixing unit tests for kernel shap
  deep-learning/src/test/scala/com/microsoft/ml/spark/explainers/split2/ImageLIMEExplainerSuite.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/explainers/split3/ImageSHAPExplainerSuite.scala
Owners: @memoryz

Fixing flaky unit tests
  core/src/test/scala/com/microsoft/ml/spark/core/test/base/TestBase.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/VectorLIMEExplainerSuite.scala
Owners: @mhamilton723, @drdarshan, @memoryz

chore: release synapseml 0.9.0
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CyberML - Anomalous Access Detection.ipynb
Owners: @mhamilton723, @drdarshan

chore: release synapseml 0.9.0 (#1206)
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CyberML - Anomalous Access Detection.ipynb
Owners: @mhamilton723, @drdarshan

chore: release synapseml 0.9.0 (#1206)
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CyberML - Anomalous Access Detection.ipynb
Owners: @mhamilton723, @drdarshan

fix: fix readme badge
  README.md
Owners: @mhamilton723, @drdarshan

add more samples
  environment.yaml
  website/docs/documentation/estimators/_LightGBM.md
  website/docs/documentation/estimators/_VW.md
  website/docs/documentation/estimators/core/_AutoML.md
  website/docs/documentation/estimators/core/_Featurize.md
  website/docs/documentation/estimators/core/_IsolationForest.md
  website/docs/documentation/estimators/core/_NN.md
  website/docs/documentation/estimators/core/_Recommendation.md
  website/docs/documentation/estimators/core/_Stages.md
  website/docs/documentation/estimators/core/_Train.md
  website/docs/documentation/estimators/estimators_core.md
  website/docs/documentation/estimators/estimators_lightgbm.md
  website/docs/documentation/estimators/estimators_vw.md
  website/docs/documentation/transformers/_OpenCV.md
  website/docs/documentation/transformers/_VW.md
  website/docs/documentation/transformers/cognitive/_AnomalyDetection.md
  website/docs/documentation/transformers/cognitive/_AzureSearch.md
  website/docs/documentation/transformers/cognitive/_BingImageSearch.md
  website/docs/documentation/transformers/cognitive/_ComputerVision.md
  website/docs/documentation/transformers/cognitive/_Face.md
  website/docs/documentation/transformers/cognitive/_FormRecognizer.md
  website/docs/documentation/transformers/cognitive/_SpeechToText.md
  website/docs/documentation/transformers/cognitive/_TextAnalytics.md
  website/docs/documentation/transformers/cognitive/_Translator.md
  website/docs/documentation/transformers/core/_Explainers.md
  website/docs/documentation/transformers/core/_Featurize.md
  website/docs/documentation/transformers/core/_IO.md
  website/docs/documentation/transformers/core/_Image.md
  website/docs/documentation/transformers/core/_Stages.md
  website/docs/documentation/transformers/core/_SuperpixelTransformer.md
  website/docs/documentation/transformers/core/_Train.md
  website/docs/documentation/transformers/transformers_core.md
  website/docs/documentation/transformers/transformers_opencv.md
  website/docs/documentation/transformers/transformers_vw.md
  website/sidebars.js
  website/src/pages/index.js
  website/static/img/open_source.svg
  website/static/img/opensource-blue.jpg
Owners: @mhamilton723, @drdarshan

update all markdowns
  website/docs/examples/AzureSearchIndex - Met Artworks.md
  website/docs/examples/ConditionalKNN - Exploring Art Across Cultures.md
  website/docs/examples/CyberML - Anomalous Access Detection.md
  website/docs/examples/HyperParameterTuning - Fighting Breast Cancer.md
  website/docs/examples/OpenCV - Pipeline Image Transformations.md
  website/docs/examples/classification/Classification - Adult Census with Vowpal Wabbit.md
  website/docs/examples/classification/Classification - Adult Census.md
  website/docs/examples/classification/Classification - Before and After MMLSpark.md
  website/docs/examples/classification/Classification - Twitter Sentiment with Vowpal Wabbit.md
  website/docs/examples/cognitive_services/CognitiveServices - Celebrity Quote Analysis.md
  website/docs/examples/cognitive_services/CognitiveServices - Predictive Maintenance.md
  website/docs/examples/deep_learning/DeepLearning - BiLSTM Medical Entity Extraction.md
  website/docs/examples/deep_learning/DeepLearning - CIFAR10 Convolutional Network.md
  website/docs/examples/deep_learning/DeepLearning - Flower Image Classification.md
  website/docs/examples/deep_learning/DeepLearning - Transfer Learning.md
  website/docs/examples/model_interpretability/Interpretability - Image Explainers.md
  website/docs/examples/model_interpretability/Interpretability - Tabular SHAP explainer.md
  website/docs/examples/model_interpretability/Interpretability - Text Explainers.md
  website/docs/examples/regression/Regression - Auto Imports.md
  website/docs/examples/regression/Regression - Flight Delays with DataCleaning.md
  website/docs/examples/regression/Regression - Flight Delays.md
  website/docs/examples/regression/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.md
  website/docs/examples/text_analytics/TextAnalytics - Amazon Book Reviews with Word2Vec.md
  website/docs/examples/text_analytics/TextAnalytics - Amazon Book Reviews.md
  website/docs/features/CognitiveServices - Overview.md
  website/docs/features/http/HttpOnSpark - Working with Arbitrary Web APIs.md
  website/docs/features/lightgbm/LightGBM - Overview.md
  website/docs/features/model_interpretability/ModelInterpretability - Snow Leopard Detection.md
  website/docs/features/onnx/ONNX - Inference on Spark.md
  website/docs/features/spark_serving/SparkServing - Deploying a Classifier.md
  website/docs/features/vw/Vowpal Wabbit - Overview.md
Owners: @mhamilton723, @drdarshan, @imatiach-msft, @eisber

add job to test website samples
  pipeline.yaml
  website/doctest.py
Owners: @mhamilton723, @drdarshan

fix doctest path
  build.sbt
Owners: @mhamilton723, @drdarshan

fix:fix doc publishing
  build.sbt
  core/src/main/python/synapse/doc/conf.py
  core/src/main/python/synapse/doc/index.rst
  core/src/main/python/synapse/doc/scala.rst
  environment.yaml
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

CODEOWNERS:

# For general updates to the library
*                @mhamilton723 @drdarshan

# Ilya's Areas
lightgbm/        @imatiach-msft
automl/          @imatiach-msft
featurize/       @imatiach-msft
featurize/text/  @mhamilton723
train/           @imatiach-msft

# Dan's Areas
recommendation/  @dciborow
recommendation/  @miguelgfierro
recommendation/  @gramhagen

# Dalitso's Areas
tools/helm/      @dbanda

# Markus' Areas
vw/              @eisber
isolationforest/ @eisber
recommendation/  @eisber
  
#Roy's Areas
cyber/           @rolevin

#Jason's Areas
explainers/      @memoryz
