Repository microsoft/SynapseML, changes with the owners that CODEOWNERS names for each.
All owners: @mhamilton723, @drdarshan, @imatiach-msft, @dciborow, @miguelgfierro, @gramhagen, @dbanda, @eisber, @rolevin, @memoryz

initial commit
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

update: Update Text Analytics API to V3.1
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
Owners: @mhamilton723, @drdarshan

feat: update TA API version to 3.1
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
Owners: @mhamilton723, @drdarshan

feat: update TA API version to 3.1
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
Owners: @mhamilton723, @drdarshan

feat: update TA API version to 3.1
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
Owners: @mhamilton723, @drdarshan

feat: update TA API version to 3.1
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
Owners: @mhamilton723, @drdarshan

delete useless stuff
  website/cookbooks/custom_metrics.md
  website/cookbooks/discord_bot.md
  website/cookbooks/enrichments.md
  website/cookbooks/filtering.md
  website/cookbooks/joining_streams.md
  website/docs/getting_started/first_model.md
  website/docusaurus.config.js
  website/src/pages/community.js
  website/src/pages/community.module.css
  website/src/plugins/redirects/index.js
  website/src/theme/ComponentCard/index.js
  website/src/theme/ComponentCard/styles.module.css
  website/src/theme/ComponentSelect/index.js
  website/src/theme/ComponentSelect/styles.module.css
  website/src/theme/ComponentsByCategory/index.js
  website/src/theme/CookbookItem/index.js
  website/src/theme/CookbookItem/styles.module.css
  website/src/theme/CookbookListPage/index.js
  website/src/theme/CookbookListPage/styles.module.css
  website/src/theme/CookbookPage/index.js
  website/src/theme/CookbookPage/styles.module.css
Owners: @mhamilton723, @drdarshan

update pipeline
  pipeline.yaml
  project/CodegenPlugin.scala
Owners: @mhamilton723, @drdarshan

update pipeline
  pipeline.yaml
  project/CodegenPlugin.scala
Owners: @mhamilton723, @drdarshan

resolving comments
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
Owners: @mhamilton723, @drdarshan

updated opinions test
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

[AggregateMeasureTransformer] Add unit tests
  core/src/main/scala/com/microsoft/ml/spark/exploratory/AggregateMeasureTransformer.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/AggregateMeasureTransformerSuite.scala
Owners: @mhamilton723, @drdarshan

Text Analytics - Add Opinion mining (#1192)
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/BingImageSearch.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/ComputerVision.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/DocumentTranslator.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/FormRecognizer.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToText.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextTranslator.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/AnamolyDetectionSuite.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/FaceSuite.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/FormRecognizerSuite.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/ImageSearchSuite.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TranslatorSuite.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split2/SpeechToTextSuite.scala
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CognitiveServices - Predictive Maintenance.ipynb
  tools/docker/clean_acr.py
Owners: @mhamilton723, @drdarshan

Added ICE
  core/src/main/scala/com/microsoft/ml/spark/explainers/ICEExplainer.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/ICEExplainerSuite.scala
Owners: @memoryz

fix: don't crash on fallback storage location
  core/src/main/scala/com/microsoft/ml/spark/core/utils/ClusterUtil.scala
Owners: @mhamilton723, @drdarshan

feat: Update Text Analytics API to V3.1 (#1193)
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
Owners: @mhamilton723, @drdarshan

feat: Update Text Analytics API to V3.1 (#1193)
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
Owners: @mhamilton723, @drdarshan

WIP
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

feat: TextAnalytics SDK connector POC
  build.sbt
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
  core/src/main/scala/com/microsoft/ml/spark/core/contracts/Params.scala
  core/src/main/scala/com/microsoft/ml/spark/io/http/HTTPTransformer.scala
  core/src/main/scala/com/microsoft/ml/spark/io/http/SimpleHTTPTransformer.scala
  core/src/main/scala/com/microsoft/ml/spark/stages/PartitionConsolidator.scala
  docs/cogsvc.md
  notebooks/CognitiveServices - Overview.ipynb
Owners: @mhamilton723, @drdarshan

fix: fix DNS resolve error in Synapse
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/HttpClientInSynapse.java
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/RESTHelpers.scala
Owners: @mhamilton723, @drdarshan

fix pipeline
  core/src/test/scala/com/microsoft/ml/spark/codegen/DotnetTestGen.scala
  pipeline.yaml
  project/CodegenPlugin.scala
Owners: @mhamilton723, @drdarshan

update testRunner
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

fixing publish test results
  core/src/test/scala/com/microsoft/ml/spark/codegen/DotnetTestGen.scala
  pipeline.yaml
  project/CodegenPlugin.scala
Owners: @mhamilton723, @drdarshan

fixing pipeline
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

feat: add DNS resolver
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/HttpClientInSynapse.java
  core/src/main/scala/com/microsoft/ml/spark/io/http/HTTPClients.scala
  core/src/main/scala/com/microsoft/ml/spark/io/http/HttpClientsInSynapse.java
Owners: @mhamilton723, @drdarshan

feat: added fuzzing
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

feat: added fuzzing (#1196)
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalytics.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

revert VSCode strange changes to notebooks
  notebooks/Classification - Twitter Sentiment with Vowpal Wabbit.ipynb
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CognitiveServices - Predictive Maintenance.ipynb
  notebooks/DeepLearning - Flower Image Classification.ipynb
  notebooks/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
  notebooks/Vowpal Wabbit - Overview.ipynb
Owners: @mhamilton723, @drdarshan

revert Wrappable change
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
Owners: @mhamilton723, @drdarshan

modify notebooks format && move convertNotebooks to build.sbt
  build.sbt
  notebooks/AzureSearchIndex - Met Artworks.ipynb
  notebooks/Classification - Adult Census.ipynb
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CognitiveServices - Predictive Maintenance.ipynb
  notebooks/Interpretability - Image Explainers.ipynb
  notebooks/LightGBM - Overview.ipynb
  notebooks/ModelInterpretability - Snow Leopard Detection.ipynb
  notebooks/ONNX - Inference on Spark.ipynb
  notebooks/TextAnalytics - Amazon Book Reviews with Word2Vec.ipynb
  notebooks/TextAnalytics - Amazon Book Reviews.ipynb
  project/CodegenPlugin.scala
  website/docs/examples/AzureSearchIndex - Met Artworks.md
  website/docs/examples/classification/Classification - Adult Census.md
  website/docs/examples/classification/Classification - Twitter Sentiment with Vowpal Wabbit.md
  website/docs/examples/cognitive_services/CognitiveServices - Predictive Maintenance.md
  website/docs/examples/deep_learning/DeepLearning - Flower Image Classification.md
  website/docs/examples/model_interpretability/Interpretability - Image Explainers.md
  website/docs/examples/regression/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.md
  website/docs/examples/text_analytics/TextAnalytics - Amazon Book Reviews with Word2Vec.md
  website/docs/examples/text_analytics/TextAnalytics - Amazon Book Reviews.md
  website/docs/features/CognitiveServices - Overview.md
  website/docs/features/ONNX - Inference on Spark.md
  website/docs/features/lightgbm/LightGBM - Overview.md
  website/docs/features/model_interpretability/ModelInterpretability - Snow Leopard Detection.md
  website/docs/features/vw/Vowpal Wabbit - Overview.md
  website/notebookconvert.py
Owners: @mhamilton723, @drdarshan, @imatiach-msft, @eisber

clean up
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
  notebooks/CognitiveServices - Overview.ipynb
Owners: @mhamilton723, @drdarshan

more clean up
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite2.scala
Owners: @mhamilton723, @drdarshan

update sdk version to 5.1.2
  build.sbt
Owners: @mhamilton723, @drdarshan

revert sdk version
  build.sbt
Owners: @mhamilton723, @drdarshan

feat: TA Internship - Wrap up (#1197)
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite2.scala
  notebooks/CognitiveServices - Overview.ipynb
Owners: @mhamilton723, @drdarshan

update version to 5.1.0
  build.sbt
Owners: @mhamilton723, @drdarshan

Add DistributionMeasures, update DataImbalance tests
  core/src/main/scala/com/microsoft/ml/spark/exploratory/AggregateMeasures.scala
  core/src/main/scala/com/microsoft/ml/spark/exploratory/AssociationGaps.scala
  core/src/main/scala/com/microsoft/ml/spark/exploratory/DistributionMeasures.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/AggregateMeasureTransformerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/AggregateMeasuresSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/AssociationGapTransformerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/AssociationGapsSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/DataImbalanceTestBase.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/DistributionMeasuresSuite.scala
Owners: @mhamilton723, @drdarshan

fix tests
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
Owners: @mhamilton723, @drdarshan

Changes by jasowang
  core/src/main/scala/com/microsoft/ml/spark/exploratory/DistributionMeasures.scala
Owners: @mhamilton723, @drdarshan

Update all DataImbalance transformers based on jasowang's comments
  core/src/main/scala/com/microsoft/ml/spark/exploratory/AggregateMeasures.scala
  core/src/main/scala/com/microsoft/ml/spark/exploratory/AssociationGaps.scala
  core/src/main/scala/com/microsoft/ml/spark/exploratory/DataImbalanceParams.scala
  core/src/main/scala/com/microsoft/ml/spark/exploratory/DistributionMeasures.scala
Owners: @mhamilton723, @drdarshan

CODEOWNERS:

# For general updates to the library
*                @mhamilton723 @drdarshan

# Ilya's Areas
lightgbm/        @imatiach-msft
automl/          @imatiach-msft
featurize/       @imatiach-msft
featurize/text/  @mhamilton723
train/           @imatiach-msft

# Dan's Areas
recommendation/  @dciborow
recommendation/  @miguelgfierro
recommendation/  @gramhagen

# Dalitso's Areas
tools/helm/      @dbanda

# Markus' Areas
vw/              @eisber
isolationforest/ @eisber
recommendation/  @eisber
  
#Roy's Areas
cyber/           @rolevin

#Jason's Areas
explainers/      @memoryz
