Repository microsoft/SynapseML, changes with the owners that CODEOWNERS names for each.
All owners: @mhamilton723, @drdarshan, @imatiach-msft, @dciborow, @miguelgfierro, @gramhagen, @dbanda, @eisber, @rolevin, @memoryz

docs
  notebooks/TextAnalytics - PIIExample in Synapse.ipynb
Owners: @mhamilton723, @drdarshan

fix: fixing missing types
  core/src/main/scala/com/microsoft/ml/spark/codegen/SparkMLCodegen.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
Owners: @mhamilton723, @drdarshan

editing docs to include local data frame example
  notebooks/TextAnalytics - PIIExample in Synapse.ipynb
Owners: @mhamilton723, @drdarshan

adding to cog services overview doc
  notebooks/Cognitive Services - Overview.ipynb
Owners: @mhamilton723, @drdarshan

Fixing memory leak issue
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
Owners: @mhamilton723, @drdarshan

commit file before overwrite
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

Cleanup
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
Owners: @mhamilton723, @drdarshan

feat: add codeGen & testGen support for .net
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
  core/src/main/dotnet/Base/Base.cs
  core/src/main/dotnet/Base/Base.csproj
  core/src/main/dotnet/Base/Utils.cs
  core/src/main/dotnet/E2ETestUtils/E2ETestUtils.cs
  core/src/main/dotnet/E2ETestUtils/E2ETestUtils.csproj
  core/src/main/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/GenerationUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  core/src/main/scala/com/microsoft/ml/spark/featurize/text/MultiNGram.scala
  core/src/main/scala/com/microsoft/ml/spark/io/http/Parsers.scala
  core/src/main/scala/com/microsoft/ml/spark/recommendation/RankingTrainValidationSplit.scala
  core/src/main/scala/com/microsoft/ml/spark/stages/EnsembleByKey.scala
  core/src/main/scala/com/microsoft/ml/spark/stages/TextPreprocessor.scala
  core/src/main/scala/org/apache/spark/ml/param/DataFrameParam.scala
  core/src/main/scala/org/apache/spark/ml/param/DotnetWrappableParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EstimatorParam.scala
  core/src/main/scala/org/apache/spark/ml/param/JsonEncodableParam.scala
  core/src/main/scala/org/apache/spark/ml/param/MapParam.scala
  core/src/main/scala/org/apache/spark/ml/param/ModelParam.scala
  core/src/main/scala/org/apache/spark/ml/param/TypedArrayParam.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
  deep-learning/src/main/scala/com/microsoft/ml/spark/cntk/CNTKModel.scala
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
Owners: @mhamilton723, @drdarshan, @imatiach-msft, @eisber

Support GPU
  build.sbt
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
Owners: @mhamilton723, @drdarshan

Adding params for optimization level and device type
  deep-learning/src/main/scala/com/microsoft/ml/spark/SharedParams.scala
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
Owners: @mhamilton723, @drdarshan

feat: ONNX model inference on Spark (#1152)
  build.sbt
  core/src/main/python/mmlspark/core/serialize/java_params_patch.py
  core/src/main/scala/com/microsoft/ml/spark/core/schema/ImageSchemaUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/core/utils/BreezeUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPSampler.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/LIMESampler.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/LIME.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/TextLIME.scala
  core/src/main/scala/com/microsoft/ml/spark/stages/MiniBatchTransformer.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/base/TestBase.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/SamplerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/TabularLIMEExplainerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/TabularSHAPExplainerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/TextExplainersSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/VectorLIMEExplainerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/VectorSHAPExplainerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/lime/LIMESuite.scala
  core/src/test/scala/com/microsoft/ml/spark/lime/TextLIMESuite.scala
  deep-learning/src/main/python/mmlspark/onnx/ONNXModel.py
  deep-learning/src/main/python/mmlspark/onnx/__init__.py
  deep-learning/src/main/scala/com/microsoft/ml/spark/SharedParams.scala
  deep-learning/src/main/scala/com/microsoft/ml/spark/cntk/CNTKModel.scala
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/cntk/CNTKModelSuite.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/explainers/split2/ImageLIMEExplainerSuite.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/explainers/split3/ImageSHAPExplainerSuite.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/lime/ImageLIMESuite.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/onnx/ONNXModelSuite.scala
  notebooks/DeepLearning - Flower Image Classification.ipynb
  notebooks/OpenCV - Pipeline Image Transformations.ipynb
  opencv/src/main/python/mmlspark/opencv/ImageTransformer.py
  opencv/src/main/scala/com/microsoft/ml/spark/opencv/ImageTransformer.scala
  opencv/src/test/scala/com/microsoft/ml/spark/opencv/ImageTransformerSuite.scala
Owners: @mhamilton723, @drdarshan, @memoryz

feat: ONNX model inference on Spark (#1152)
  build.sbt
  core/src/main/python/mmlspark/core/serialize/java_params_patch.py
  core/src/main/scala/com/microsoft/ml/spark/core/schema/ImageSchemaUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/core/utils/BreezeUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPSampler.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/LIMESampler.scala
  core/src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/LIME.scala
  core/src/main/scala/com/microsoft/ml/spark/lime/TextLIME.scala
  core/src/main/scala/com/microsoft/ml/spark/stages/MiniBatchTransformer.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/base/TestBase.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/SamplerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/TabularLIMEExplainerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/TabularSHAPExplainerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/TextExplainersSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/VectorLIMEExplainerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/VectorSHAPExplainerSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/lime/LIMESuite.scala
  core/src/test/scala/com/microsoft/ml/spark/lime/TextLIMESuite.scala
  deep-learning/src/main/python/mmlspark/onnx/ONNXModel.py
  deep-learning/src/main/python/mmlspark/onnx/__init__.py
  deep-learning/src/main/scala/com/microsoft/ml/spark/SharedParams.scala
  deep-learning/src/main/scala/com/microsoft/ml/spark/cntk/CNTKModel.scala
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/cntk/CNTKModelSuite.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/explainers/split2/ImageLIMEExplainerSuite.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/explainers/split3/ImageSHAPExplainerSuite.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/lime/ImageLIMESuite.scala
  deep-learning/src/test/scala/com/microsoft/ml/spark/onnx/ONNXModelSuite.scala
  notebooks/DeepLearning - Flower Image Classification.ipynb
  notebooks/OpenCV - Pipeline Image Transformations.ipynb
  opencv/src/main/python/mmlspark/opencv/ImageTransformer.py
  opencv/src/main/scala/com/microsoft/ml/spark/opencv/ImageTransformer.scala
  opencv/src/test/scala/com/microsoft/ml/spark/opencv/ImageTransformerSuite.scala
Owners: @mhamilton723, @drdarshan, @memoryz

update testGen
  core/src/main/dotnet/Base/Base.csproj
  core/src/main/scala/com/microsoft/ml/spark/codegen/GenerationUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  core/src/main/scala/org/apache/spark/ml/param/DotnetWrappableParam.scala
  core/src/main/scala/org/apache/spark/ml/param/JsonEncodableParam.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
Owners: @mhamilton723, @drdarshan

temp change
  core/src/main/scala/com/microsoft/ml/spark/codegen/SparkMLCodegen.scala
Owners: @mhamilton723, @drdarshan

update feed&fetchDict to StringStringMapParam
  deep-learning/src/main/scala/com/microsoft/ml/spark/SharedParams.scala
Owners: @mhamilton723, @drdarshan

update codegenPlugin for initial test
  core/src/main/scala/com/microsoft/ml/spark/codegen/SparkMLCodegen.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
  project/CodegenPlugin.scala
Owners: @mhamilton723, @drdarshan

rename AnomalyDetectionSuite
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/AnomalyDetectionSuite.scala
Owners: @mhamilton723, @drdarshan

fix: scalastyle
  core/src/main/scala/com/microsoft/ml/spark/codegen/DefaultParamInfo.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  core/src/main/scala/org/apache/spark/ml/param/EstimatorParam.scala
Owners: @mhamilton723, @drdarshan

fix: Adding Test to PII and Healthcare
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

NER endpoint
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

updating docs
  notebooks/TextAnalytics - PIIExample in Synapse.ipynb
Owners: @mhamilton723, @drdarshan

fix: improve LGBM error message for invalid slot names
  lightgbm/src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  lightgbm/src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRegressor.scala
Owners: @imatiach-msft

make codeGen work overall
  core/src/main/dotnet/Base/Base.cs
  core/src/main/dotnet/Base/Schemas.cs
  core/src/main/dotnet/Base/Utils.cs
  core/src/main/dotnet/E2ETestUtils/E2ETestUtils.cs
  core/src/main/dotnet/E2ETestUtils/E2ETestUtils.csproj
  core/src/main/dotnet/Microsoft.Spark.ML/PipelineModel.cs
  core/src/main/dotnet/dotnetBase.csproj
  core/src/main/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/DefaultParamInfo.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
Owners: @mhamilton723, @drdarshan

add csproj file generation in testGen
  core/src/main/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
Owners: @mhamilton723, @drdarshan

fix import
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
Owners: @mhamilton723, @drdarshan

moving docs to overview notebook
  docs/cogsvc.md
  notebooks/Cognitive Services - Overview.ipynb
  notebooks/TextAnalytics - PIIExample in Synapse.ipynb
Owners: @mhamilton723, @drdarshan

feat: Opinion Mining pt.1
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

entity linking and basic testing
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

robust testing
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

updating endpoint desciptions
  notebooks/Cognitive Services - Overview.ipynb
Owners: @mhamilton723, @drdarshan

updating endpoint descriptions
  docs/cogsvc.md
Owners: @mhamilton723, @drdarshan

NER endpoint and github docs (#1158)
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
  docs/cogsvc.md
  notebooks/Cognitive Services - Overview.ipynb
Owners: @mhamilton723, @drdarshan

feat: .setIncludeOpinionMining
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

fix: adding test to sentiment
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

feat: rename Read to ReadImage
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/ComputerVision.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Owners: @mhamilton723, @drdarshan

update base classes to eliminate generic types on params
  core/src/main/dotnet/Base/Base.cs
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
Owners: @mhamilton723, @drdarshan

update TestGen to make automation test build success
  .gitignore
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
Owners: @mhamilton723, @drdarshan

pr comments resolved
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

feat: entity linking (#1162)
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

opinion mining fixed without test
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDKSchemasV4.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

CODEOWNERS:

# For general updates to the library
*                @mhamilton723 @drdarshan

# Ilya's Areas
lightgbm/        @imatiach-msft
automl/          @imatiach-msft
featurize/       @imatiach-msft
featurize/text/  @mhamilton723
train/           @imatiach-msft

# Dan's Areas
recommendation/  @dciborow
recommendation/  @miguelgfierro
recommendation/  @gramhagen

# Dalitso's Areas
tools/helm/      @dbanda

# Markus' Areas
vw/              @eisber
isolationforest/ @eisber
recommendation/  @eisber
  
#Roy's Areas
cyber/           @rolevin

#Jason's Areas
explainers/      @memoryz
