Repository microsoft/SynapseML, changes with the owners that CODEOWNERS names for each.
All owners: @mhamilton723, @drdarshan, @imatiach-msft, @dciborow, @miguelgfierro, @gramhagen, @dbanda, @eisber, @rolevin, @memoryz

fix: improve LGBM error message for invalid slot names (#1160)
  lightgbm/src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  lightgbm/src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRegressor.scala
Owners: @imatiach-msft

fix: improve LGBM error message for invalid slot names (#1160)
  lightgbm/src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  lightgbm/src/test/scala/com/microsoft/ml/spark/lightgbm/split2/VerifyLightGBMRegressor.scala
Owners: @imatiach-msft

opining mining tests and assertions
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Owners: @mhamilton723, @drdarshan

update Complex params to extend WrappableParam and update dotnet param info
  core/src/main/dotnet/Base/Base.cs
  core/src/main/dotnet/Params/LightGBMBooster.cs
  core/src/main/dotnet/Params/ParamMap.cs
  core/src/main/scala/com/microsoft/ml/spark/codegen/DefaultParamInfo.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/GenerationUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  core/src/main/scala/org/apache/spark/ml/param/ArrayParamMapParam.scala
  core/src/main/scala/org/apache/spark/ml/param/BallTreeParam.scala
  core/src/main/scala/org/apache/spark/ml/param/DataFrameParam.scala
  core/src/main/scala/org/apache/spark/ml/param/DataTypeParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EstimatorArrayParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EstimatorParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EvaluatorParam.scala
  core/src/main/scala/org/apache/spark/ml/param/ModelParam.scala
  core/src/main/scala/org/apache/spark/ml/param/ParamSpaceParam.scala
  core/src/main/scala/org/apache/spark/ml/param/PipelineStageParam.scala
  core/src/main/scala/org/apache/spark/ml/param/PythonWrappableParam.scala
  core/src/main/scala/org/apache/spark/ml/param/RWrappableParam.scala
  core/src/main/scala/org/apache/spark/ml/param/TransformerArrayParam.scala
  core/src/main/scala/org/apache/spark/ml/param/TransformerParam.scala
  core/src/main/scala/org/apache/spark/ml/param/UDFParam.scala
  core/src/main/scala/org/apache/spark/ml/param/UDPyFParam.scala
  core/src/main/scala/org/apache/spark/ml/param/WrappableParam.scala
  deep-learning/src/main/scala/com/microsoft/ml/spark/cntk/CNTKFunctionParam.scala
  lightgbm/src/main/scala/com/microsoft/ml/spark/lightgbm/params/FObjParam.scala
  lightgbm/src/main/scala/com/microsoft/ml/spark/lightgbm/params/LightGBMBoosterParam.scala
Owners: @mhamilton723, @drdarshan, @imatiach-msft

feat: rename Read to ReadImage (#1163)
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/ComputerVision.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Owners: @mhamilton723, @drdarshan

feat: rename Read to ReadImage (#1163)
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/ComputerVision.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Owners: @mhamilton723, @drdarshan

Update image interpretability notebook to use ONNX model
  notebooks/Interpretability - Image Explainers.ipynb
Owners: @mhamilton723, @drdarshan

Adding notebooks and model input/output methods to python wrapper.
  deep-learning/src/main/python/mmlspark/onnx/ONNXModel.py
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
  notebooks/ONNX - Inference on Spark.ipynb
Owners: @mhamilton723, @drdarshan

Update link to sample notebook.
  docs/onnx.md
Owners: @mhamilton723, @drdarshan

WIP: docs
  docs/onnx.md
Owners: @mhamilton723, @drdarshan

Remove unused code
  deep-learning/src/main/python/mmlspark/onnx/ONNXModel.py
Owners: @mhamilton723, @drdarshan

Update link in md
  docs/onnx.md
Owners: @mhamilton723, @drdarshan

Fixing E2E test; update notebook
  core/src/test/scala/com/microsoft/ml/spark/nbtest/DatabricksUtilities.scala
  notebooks/ONNX - Inference on Spark.ipynb
Owners: @mhamilton723, @drdarshan

Performance improvement
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
Owners: @mhamilton723, @drdarshan

More perf improvement for String type tensor creation
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
Owners: @mhamilton723, @drdarshan

Update notebooks
  docs/onnx.md
  notebooks/ONNX - Inference on Spark.ipynb
Owners: @mhamilton723, @drdarshan

docs: Adding document and notebooks for ONNXModel (#1164)
  core/src/test/scala/com/microsoft/ml/spark/nbtest/DatabricksUtilities.scala
  deep-learning/src/main/python/mmlspark/onnx/ONNXModel.py
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
  docs/onnx.md
  notebooks/Interpretability - Image Explainers.ipynb
  notebooks/ONNX - Inference on Spark.ipynb
Owners: @mhamilton723, @drdarshan

docs: Adding document and notebooks for ONNXModel (#1164)
  core/src/test/scala/com/microsoft/ml/spark/nbtest/DatabricksUtilities.scala
  deep-learning/src/main/python/mmlspark/onnx/ONNXModel.py
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
  docs/onnx.md
  notebooks/Interpretability - Image Explainers.ipynb
  notebooks/ONNX - Inference on Spark.ipynb
Owners: @mhamilton723, @drdarshan

fix: tools/helm/spark/mini.Dockerfile to reduce vulnerabilities
  tools/helm/spark/mini.Dockerfile
Owners: @dbanda

fix: tools/helm/spark/Dockerfile to reduce vulnerabilities
  tools/helm/spark/Dockerfile
Owners: @dbanda

feat: E2E in Synapse
  core/src/test/scala/com/microsoft/ml/spark/Secrets.scala
  core/src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  core/src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
  notebooks/Classification - Adult Census.ipynb
  notebooks/ModelInterpretation - Snow Leopard Detection.ipynb
Owners: @mhamilton723, @drdarshan

feat: E2E in Synapse
  .gitignore
Owners: @mhamilton723, @drdarshan

feat: E2E in Synapse
  .gitignore
Owners: @mhamilton723, @drdarshan

feat: E2E in Synapse
  notebooks/Cognitive Services - Overview.ipynb
  notebooks/TextAnalytics - Amazon Book Reviews with Word2Vec.ipynb
  notebooks/TextAnalytics - Amazon Book Reviews.ipynb
Owners: @mhamilton723, @drdarshan

Security upgrade required for openjdk from 8-alpine to 17-ea-22-jdk-oracle (#1165)
  tools/helm/spark/Dockerfile
  tools/helm/spark/mini.Dockerfile
Owners: @dbanda

Security upgrade required for openjdk from 8-alpine to 17-ea-22-jdk-oracle (#1165)
  tools/helm/spark/Dockerfile
  tools/helm/spark/mini.Dockerfile
Owners: @dbanda

feat: Add Infrastructure to Run Tests on Synapse (#1014)
  .gitignore
  core/src/test/scala/com/microsoft/ml/spark/Secrets.scala
  core/src/test/scala/com/microsoft/ml/spark/nbtest/DatabricksTests.scala
  core/src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  core/src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
  environment.yaml
  notebooks/AzureSearchIndex - Met Artworks.ipynb
  notebooks/Classification - Adult Census with Vowpal Wabbit.ipynb
  notebooks/Classification - Adult Census.ipynb
  notebooks/Classification - Before and After MMLSpark.ipynb
  notebooks/Classification - Twitter Sentiment with Vowpal Wabbit.ipynb
  notebooks/Cognitive Services - Overview.ipynb
  notebooks/CognitiveServices - Celebrity Quote Analysis.ipynb
  notebooks/ConditionalKNN - Exploring Art Across Cultures.ipynb
  notebooks/HttpOnSpark - Working with Arbitrary Web APIs.ipynb
  notebooks/LightGBM - Overview.ipynb
  notebooks/ModelInterpretation - Snow Leopard Detection.ipynb
  notebooks/OpenCV - Pipeline Image Transformations.ipynb
  notebooks/Regression - Auto Imports.ipynb
  notebooks/Regression - Flight Delays with DataCleaning.ipynb
  notebooks/Regression - Flight Delays.ipynb
  notebooks/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
  notebooks/SparkServing - Deploying a Classifier.ipynb
  notebooks/TextAnalytics - Amazon Book Reviews with Word2Vec.ipynb
  notebooks/TextAnalytics - Amazon Book Reviews.ipynb
  notebooks/Vowpal Wabbit - Overview.ipynb
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

feat: Add Infrastructure to Run Tests on Synapse (#1014)
  .gitignore
  core/src/test/scala/com/microsoft/ml/spark/Secrets.scala
  core/src/test/scala/com/microsoft/ml/spark/nbtest/DatabricksTests.scala
  core/src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  core/src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
  environment.yaml
  notebooks/AzureSearchIndex - Met Artworks.ipynb
  notebooks/Classification - Adult Census with Vowpal Wabbit.ipynb
  notebooks/Classification - Adult Census.ipynb
  notebooks/Classification - Before and After MMLSpark.ipynb
  notebooks/Classification - Twitter Sentiment with Vowpal Wabbit.ipynb
  notebooks/Cognitive Services - Overview.ipynb
  notebooks/CognitiveServices - Celebrity Quote Analysis.ipynb
  notebooks/ConditionalKNN - Exploring Art Across Cultures.ipynb
  notebooks/HttpOnSpark - Working with Arbitrary Web APIs.ipynb
  notebooks/LightGBM - Overview.ipynb
  notebooks/ModelInterpretation - Snow Leopard Detection.ipynb
  notebooks/OpenCV - Pipeline Image Transformations.ipynb
  notebooks/Regression - Auto Imports.ipynb
  notebooks/Regression - Flight Delays with DataCleaning.ipynb
  notebooks/Regression - Flight Delays.ipynb
  notebooks/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
  notebooks/SparkServing - Deploying a Classifier.ipynb
  notebooks/TextAnalytics - Amazon Book Reviews with Word2Vec.ipynb
  notebooks/TextAnalytics - Amazon Book Reviews.ipynb
  notebooks/Vowpal Wabbit - Overview.ipynb
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

fix: fix build.sbt
  build.sbt
Owners: @mhamilton723, @drdarshan

fix: format fix
  lightgbm/src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
Owners: @imatiach-msft

fix: format fix
  lightgbm/src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
Owners: @imatiach-msft

fix most complex params setter & getter
  core/src/main/dotnet/Base/Base.cs
  core/src/main/dotnet/Base/Utils.cs
  core/src/main/dotnet/E2ETestUtils/E2ETestUtils.cs
  core/src/main/dotnet/Params/ArrayParamMap.cs
  core/src/main/dotnet/Params/EstimatorArray.cs
  core/src/main/dotnet/Params/ParamMap.cs
  core/src/main/dotnet/Params/TransformerArray.cs
  core/src/main/scala/com/microsoft/ml/spark/automl/FindBestModel.scala
  core/src/main/scala/com/microsoft/ml/spark/automl/TuneHyperparameters.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/CodegenConfig.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/DefaultParamInfo.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  core/src/main/scala/com/microsoft/ml/spark/recommendation/RankingTrainValidationSplit.scala
  core/src/main/scala/org/apache/spark/ml/param/ArrayParamMapParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EstimatorArrayParam.scala
  core/src/main/scala/org/apache/spark/ml/param/TransformerArrayParam.scala
  core/src/test/scala/com/microsoft/ml/spark/automl/VerifyFindBestModel.scala
Owners: @mhamilton723, @drdarshan, @imatiach-msft, @eisber

refactor DotnetWrappable
  core/src/main/scala/com/microsoft/ml/spark/automl/FindBestModel.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/DotnetWrappable.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
Owners: @imatiach-msft, @mhamilton723, @drdarshan

update saveTestData
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
Owners: @mhamilton723, @drdarshan

fixing pythonTests
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
Owners: @mhamilton723, @drdarshan

fixing pythonTests
  core/src/main/scala/org/apache/spark/ml/param/DataFrameParam.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
Owners: @mhamilton723, @drdarshan

add Pipeline for dotnet
  core/src/main/dotnet/Microsoft.Spark.ML/Pipeline.cs
  core/src/main/dotnet/Microsoft.Spark.ML/PipelineModel.cs
  core/src/main/scala/org/apache/spark/ml/param/EstimatorParam.scala
Owners: @mhamilton723, @drdarshan

chore: disable failing doc translator test
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TranslatorSuite.scala
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
Owners: @mhamilton723, @drdarshan

chore: fix flaky serialization fuzzing test
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Owners: @mhamilton723, @drdarshan

chore: disable failing synapse e2e tests
  core/src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

CODEOWNERS:

# For general updates to the library
*                @mhamilton723 @drdarshan

# Ilya's Areas
lightgbm/        @imatiach-msft
automl/          @imatiach-msft
featurize/       @imatiach-msft
featurize/text/  @mhamilton723
train/           @imatiach-msft

# Dan's Areas
recommendation/  @dciborow
recommendation/  @miguelgfierro
recommendation/  @gramhagen

# Dalitso's Areas
tools/helm/      @dbanda

# Markus' Areas
vw/              @eisber
isolationforest/ @eisber
recommendation/  @eisber
  
#Roy's Areas
cyber/           @rolevin

#Jason's Areas
explainers/      @memoryz
