Repository microsoft/SynapseML, changes with the owners that CODEOWNERS names for each.
All owners: @mhamilton723, @drdarshan, @imatiach-msft, @dciborow, @miguelgfierro, @gramhagen, @dbanda, @eisber, @rolevin, @memoryz

CODEOWNERS:

# For general updates to the library
*                @mhamilton723 @drdarshan

# Ilya's Areas
lightgbm/        @imatiach-msft
automl/          @imatiach-msft
featurize/       @imatiach-msft
featurize/text/  @mhamilton723
train/           @imatiach-msft

# Dan's Areas
recommendation/  @dciborow
recommendation/  @miguelgfierro
recommendation/  @gramhagen

# Dalitso's Areas
tools/helm/      @dbanda

# Markus' Areas
vw/              @eisber
isolationforest/ @eisber
recommendation/  @eisber
  
#Roy's Areas
cyber/           @rolevin

#Jason's Areas
explainers/      @memoryz

chore: disable failing synapse e2e tests
  core/src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

chore: disable failing doc translator test
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TranslatorSuite.scala
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
Owners: @mhamilton723, @drdarshan

chore: fix flaky serialization fuzzing test
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Owners: @mhamilton723, @drdarshan

chore: disable failing synapse e2e tests
  core/src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

chore: disable failing doc translator test
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TranslatorSuite.scala
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
Owners: @mhamilton723, @drdarshan

chore: fix flaky serialization fuzzing test
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Owners: @mhamilton723, @drdarshan

chore: testing new build
  .gitignore
  README.md
Owners: @mhamilton723, @drdarshan

chore: testing new build
  .gitignore
  README.md
Owners: @mhamilton723, @drdarshan

chore: testing new build
  .gitignore
  README.md
Owners: @mhamilton723, @drdarshan

update TestGen
  core/src/main/scala/org/apache/spark/ml/param/EstimatorParam.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
Owners: @mhamilton723, @drdarshan

update ServiceParam setters and corresponding schemas
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextTranslator.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TranslatorSchemas.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TranslatorSuite.scala
  core/src/main/dotnet/Base/Schemas.cs
  core/src/main/dotnet/E2ETestUtils/E2ETestUtils.cs
  core/src/main/scala/com/microsoft/ml/spark/codegen/DotnetWrappable.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/GenerationUtils.scala
  core/src/main/scala/org/apache/spark/ml/param/DataFrameParam.scala
  core/src/main/scala/org/apache/spark/ml/param/DotnetWrappableParam.scala
  core/src/main/scala/org/apache/spark/ml/param/JsonEncodableParam.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
Owners: @mhamilton723, @drdarshan

updating dotnet test setteres
  core/src/main/scala/com/microsoft/ml/spark/codegen/DefaultParamInfo.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/DotnetWrappable.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/GenerationUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  core/src/main/scala/org/apache/spark/ml/param/ArrayParamMapParam.scala
  core/src/main/scala/org/apache/spark/ml/param/BallTreeParam.scala
  core/src/main/scala/org/apache/spark/ml/param/DataTypeParam.scala
  core/src/main/scala/org/apache/spark/ml/param/DotnetWrappableParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EstimatorArrayParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EvaluatorParam.scala
  core/src/main/scala/org/apache/spark/ml/param/JsonEncodableParam.scala
  core/src/main/scala/org/apache/spark/ml/param/ParamSpaceParam.scala
  core/src/main/scala/org/apache/spark/ml/param/PipelineStageParam.scala
  core/src/main/scala/org/apache/spark/ml/param/TransformerArrayParam.scala
  core/src/main/scala/org/apache/spark/ml/param/TransformerParam.scala
  core/src/main/scala/org/apache/spark/ml/param/UDFParam.scala
  core/src/main/scala/org/apache/spark/ml/param/UDPyFParam.scala
Owners: @mhamilton723, @drdarshan

chore: fix bug in testgen parallelism
  core/src/main/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
  project/CodegenPlugin.scala
Owners: @mhamilton723, @drdarshan

fix complex params return types
  core/src/main/dotnet/Base/Schemas.cs
  core/src/main/dotnet/E2ETestUtils/E2ETestUtils.cs
  core/src/main/dotnet/Microsoft.Spark.ML/Pipeline.cs
  core/src/main/scala/com/microsoft/ml/spark/automl/FindBestModel.scala
  core/src/main/scala/com/microsoft/ml/spark/automl/TuneHyperparameters.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/DotnetWrappable.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/GenerationUtils.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  core/src/main/scala/com/microsoft/ml/spark/recommendation/RankingTrainValidationSplit.scala
Owners: @mhamilton723, @drdarshan, @imatiach-msft, @eisber

try nslookup
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

chore: fix bug in testgen parallelism
  core/src/main/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
  project/CodegenPlugin.scala
Owners: @mhamilton723, @drdarshan

chore: fix bug in testgen parallelism
  core/src/main/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
  project/CodegenPlugin.scala
Owners: @mhamilton723, @drdarshan

fix generic type return type & add missing setters
  core/src/main/dotnet/Base/Base.cs
  core/src/main/dotnet/Base/HashMap.cs
  core/src/main/dotnet/E2ETestUtils/E2ETestUtils.cs
  core/src/main/scala/com/microsoft/ml/spark/codegen/DotnetWrappable.scala
  core/src/main/scala/com/microsoft/ml/spark/io/http/Parsers.scala
  core/src/main/scala/com/microsoft/ml/spark/recommendation/SAR.scala
  core/src/main/scala/com/microsoft/ml/spark/stages/EnsembleByKey.scala
  core/src/main/scala/com/microsoft/ml/spark/stages/StratifiedRepartition.scala
  core/src/main/scala/org/apache/spark/ml/param/ArrayParamMapParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EstimatorArrayParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EstimatorParam.scala
  core/src/main/scala/org/apache/spark/ml/param/TransformerArrayParam.scala
  deep-learning/src/main/scala/com/microsoft/ml/spark/SharedParams.scala
  deep-learning/src/main/scala/com/microsoft/ml/spark/onnx/ONNXModel.scala
Owners: @mhamilton723, @drdarshan, @eisber

fix dotnet fuzzingtest
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
Owners: @mhamilton723, @drdarshan

fix param setterse & getters; cognitive&core packages test pass
  core/src/main/dotnet/Base/HashMap.cs
  core/src/main/dotnet/E2ETestUtils/E2ETestUtils.cs
  core/src/main/dotnet/Microsoft.Spark.ML/Pipeline.cs
  core/src/main/scala/com/microsoft/ml/spark/codegen/DotnetWrappable.scala
  core/src/main/scala/com/microsoft/ml/spark/featurize/CleanMissingData.scala
  core/src/main/scala/com/microsoft/ml/spark/featurize/ValueIndexer.scala
  core/src/main/scala/com/microsoft/ml/spark/train/TrainClassifier.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
  opencv/src/main/scala/com/microsoft/ml/spark/opencv/ImageTransformer.scala
Owners: @mhamilton723, @drdarshan, @imatiach-msft

update notebook link
  README.md
Owners: @mhamilton723, @drdarshan

Solving the penalisation issue through a new objectie function in lightGBM Regression
  lightGBMRegressor.py
Owners: @mhamilton723, @drdarshan

fix: fix anomaly detector test cases
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/AnamolyDetectionSuite.scala
Owners: @mhamilton723, @drdarshan

fix param renders and make all tests pass
  core/src/main/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/DotnetWrappable.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/GenerationUtils.scala
  core/src/main/scala/org/apache/spark/ml/param/DotnetWrappableParam.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
Owners: @mhamilton723, @drdarshan

split dotnetTestgen
  core/src/test/scala/com/microsoft/ml/spark/codegen/DotnetTestGen.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
  project/CodegenPlugin.scala
Owners: @mhamilton723, @drdarshan

update notebook link
  README.md
Owners: @mhamilton723, @drdarshan

update notebook link
  README.md
Owners: @mhamilton723, @drdarshan

split testgen & add testDotnet
  core/src/main/scala/com/microsoft/ml/spark/codegen/CodegenConfig.scala
  core/src/main/scala/org/apache/spark/ml/param/EstimatorParam.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/DotnetTestGen.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/PyTestGen.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/TestGen.scala
  core/src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
  pipeline.yaml
  project/CodegenPlugin.scala
Owners: @mhamilton723, @drdarshan

update DotnetTests
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

update DotnetTests
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

update DotnetTests
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

update DotnetTests
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

address comments
  core/src/main/dotnet/Base/Base.cs
  core/src/main/dotnet/E2ETestUtils/E2ETestUtils.cs
  core/src/main/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/DefaultParamInfo.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/DotnetWrappable.scala
  core/src/main/scala/com/microsoft/ml/spark/codegen/GenerationUtils.scala
  core/src/main/scala/org/apache/spark/ml/param/ArrayParamMapParam.scala
  core/src/main/scala/org/apache/spark/ml/param/BallTreeParam.scala
  core/src/main/scala/org/apache/spark/ml/param/DataFrameParam.scala
  core/src/main/scala/org/apache/spark/ml/param/DataTypeParam.scala
  core/src/main/scala/org/apache/spark/ml/param/DotnetWrappableParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EstimatorArrayParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EstimatorParam.scala
  core/src/main/scala/org/apache/spark/ml/param/EvaluatorParam.scala
  core/src/main/scala/org/apache/spark/ml/param/MapParam.scala
  core/src/main/scala/org/apache/spark/ml/param/ModelParam.scala
  core/src/main/scala/org/apache/spark/ml/param/ParamSpaceParam.scala
  core/src/main/scala/org/apache/spark/ml/param/PipelineStageParam.scala
  core/src/main/scala/org/apache/spark/ml/param/PythonWrappableParam.scala
  core/src/main/scala/org/apache/spark/ml/param/TransformerArrayParam.scala
  core/src/main/scala/org/apache/spark/ml/param/TransformerParam.scala
  core/src/main/scala/org/apache/spark/ml/param/UDFParam.scala
  core/src/main/scala/org/apache/spark/ml/param/UDPyFParam.scala
  core/src/main/scala/org/apache/spark/ml/param/WrappableParam.scala
  core/src/test/scala/com/microsoft/ml/spark/codegen/DotnetTestGen.scala
  deep-learning/src/main/scala/com/microsoft/ml/spark/cntk/CNTKFunctionParam.scala
  lightgbm/src/main/scala/com/microsoft/ml/spark/lightgbm/params/FObjParam.scala
  lightgbm/src/main/scala/com/microsoft/ml/spark/lightgbm/params/LightGBMBoosterParam.scala
Owners: @mhamilton723, @drdarshan, @imatiach-msft

fix scalastyle
  core/src/main/scala/com/microsoft/ml/spark/codegen/DotnetWrappable.scala
Owners: @mhamilton723, @drdarshan

fix: fix Left & Right errors
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/ComputerVision.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/FormRecognizer.scala
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextTranslator.scala
Owners: @mhamilton723, @drdarshan

add triggering error if required params are not set
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TranslatorSuite.scala
Owners: @mhamilton723, @drdarshan

throw error in shouldSkip instead
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
Owners: @mhamilton723, @drdarshan

fix flaky confidence value in DescribeImage
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Owners: @mhamilton723, @drdarshan

support autoconversion of string to Seq[string] for toLanguage & Text
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextTranslator.scala
  cognitive/src/test/scala/com/microsoft/ml/spark/cognitive/split1/TranslatorSuite.scala
Owners: @mhamilton723, @drdarshan

fix inputFunc
  cognitive/src/main/scala/com/microsoft/ml/spark/cognitive/TextTranslator.scala
Owners: @mhamilton723, @drdarshan
