Repository microsoft/SynapseML, changes with the owners that CODEOWNERS names for each.
All owners: @mhamilton723, @drdarshan, @imatiach-msft, @dciborow, @miguelgfierro, @gramhagen, @dbanda, @eisber, @rolevin, @memoryz

CODEOWNERS:

# For general updates to the library
*                @mhamilton723 @drdarshan

# Ilya's Areas
lightgbm/        @imatiach-msft
automl/          @imatiach-msft
featurize/       @imatiach-msft
featurize/text/  @mhamilton723
train/           @imatiach-msft

# Dan's Areas
recommendation/  @dciborow
recommendation/  @miguelgfierro
recommendation/  @gramhagen

# Dalitso's Areas
tools/helm/      @dbanda

# Markus' Areas
vw/              @eisber
isolationforest/ @eisber
recommendation/  @eisber
  
#Roy's Areas
cyber/           @rolevin

#Jason's Areas
explainers/      @memoryz

chore: Bump version to 0.9.1
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CyberML - Anomalous Access Detection.ipynb
Owners: @mhamilton723, @drdarshan

fix:fix doc publishing
  build.sbt
  core/src/main/python/synapse/doc/conf.py
  core/src/main/python/synapse/doc/index.rst
  core/src/main/python/synapse/doc/scala.rst
  environment.yaml
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

fix:fix doc publishing
  build.sbt
  core/src/main/python/synapse/doc/conf.py
  core/src/main/python/synapse/doc/index.rst
  core/src/main/python/synapse/doc/scala.rst
  environment.yaml
  pipeline.yaml
Owners: @mhamilton723, @drdarshan

fix: fix readme badge
  README.md
Owners: @mhamilton723, @drdarshan

chore: Bump version to 0.9.1
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CyberML - Anomalous Access Detection.ipynb
Owners: @mhamilton723, @drdarshan

fix: fix readme badge
  README.md
Owners: @mhamilton723, @drdarshan

chore: Bump version to 0.9.1
  README.md
  docs/R-setup.md
  docs/cogsvc.md
  docs/docker.md
  notebooks/CognitiveServices - Overview.ipynb
  notebooks/CyberML - Anomalous Access Detection.ipynb
Owners: @mhamilton723, @drdarshan

Only include needed platforms
  build.sbt
Owners: @mhamilton723, @drdarshan

fix: Fixing flaky test
  core/src/test/scala/com/microsoft/azure/synapse/ml/core/test/base/TestBase.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/explainers/split1/VectorLIMEExplainerSuite.scala
Owners: @mhamilton723, @drdarshan, @memoryz

Move common code to DataImbalanceParams and DataImbalanceTestBase, address PR to jasowang comments, pSensitive -> pFeature
  core/src/main/scala/com/microsoft/ml/spark/exploratory/AggregateMeasures.scala
  core/src/main/scala/com/microsoft/ml/spark/exploratory/AssociationGaps.scala
  core/src/main/scala/com/microsoft/ml/spark/exploratory/DataImbalanceParams.scala
  core/src/main/scala/com/microsoft/ml/spark/exploratory/DistributionMeasures.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/AggregateMeasuresSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/AssociationGapsSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/DataImbalanceTestBase.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/DistributionMeasuresSuite.scala
Owners: @mhamilton723, @drdarshan

fix: Fixing flaky test
  core/src/test/scala/com/microsoft/azure/synapse/ml/core/test/base/TestBase.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/explainers/split1/VectorLIMEExplainerSuite.scala
Owners: @mhamilton723, @drdarshan, @memoryz

fix: Fixing flaky test
  core/src/test/scala/com/microsoft/azure/synapse/ml/core/test/base/TestBase.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/explainers/split1/VectorLIMEExplainerSuite.scala
Owners: @mhamilton723, @drdarshan, @memoryz

fix: Docker image should install openjdk-8-jre as opposed to default-jre which now installs java 11
  tools/docker/demo/Dockerfile
  tools/docker/developer/Dockerfile
  tools/docker/minimal/Dockerfile
Owners: @mhamilton723, @drdarshan

Fixing developer dockerfile
  tools/docker/developer/Dockerfile
Owners: @mhamilton723, @drdarshan

Fix a few things
  website/docs/about.md
  website/docs/documentation/estimators/_LightGBM.md
  website/docs/documentation/estimators/_VW.md
  website/docs/documentation/estimators/core/_AutoML.md
  website/docs/documentation/estimators/core/_Featurize.md
  website/docs/documentation/estimators/core/_IsolationForest.md
  website/docs/documentation/estimators/estimators_core.md
  website/docs/documentation/transformers/_OpenCV.md
  website/docs/documentation/transformers/_VW.md
  website/docs/documentation/transformers/cognitive/_AnomalyDetection.md
  website/docs/documentation/transformers/core/_Stages.md
  website/docs/documentation/transformers/core/_SuperpixelTransformer.md
  website/docs/documentation/transformers/core/_Train.md
  website/docs/documentation/transformers/deep_learning/_ONNXModel.md
  website/docs/documentation/transformers/transformers_deep_learning.md
  website/docs/examples/CyberML - Anomalous Access Detection.md
  website/docs/features/CognitiveServices - Overview.md
  website/docs/getting_started/installation.md
  website/docs/reference/R-setup.md
  website/docs/reference/docker.md
  website/docusaurus.config.js
  website/sidebars.js
  website/src/pages/index.js
  website/src/theme/SampleSnippet/index.js
  website/static/img/scalable.svg
Owners: @mhamilton723, @drdarshan

fixups
  website/docs/documentation/estimators/core/_NN.md
  website/docs/documentation/estimators/core/_Recommendation.md
  website/docs/documentation/estimators/core/_Stages.md
  website/docs/documentation/estimators/core/_Train.md
  website/docs/documentation/transformers/cognitive/_AzureSearch.md
  website/docs/documentation/transformers/cognitive/_BingImageSearch.md
  website/docs/documentation/transformers/core/_Explainers.md
  website/docs/documentation/transformers/core/_Featurize.md
  website/docs/documentation/transformers/core/_IO.md
  website/docs/documentation/transformers/core/_Image.md
  website/docs/examples/regression/Regression - Auto Imports.md
  website/docs/features/CognitiveServices - Overview.md
Owners: @mhamilton723, @drdarshan

fix docs/about page dark mode rendering
  website/src/theme/FeatureCards/styles.module.css
Owners: @mhamilton723, @drdarshan

update sidebar
  website/docs/documentation/estimators/estimators_core.md
  website/docs/documentation/estimators/estimators_lightgbm.md
  website/docs/documentation/estimators/estimators_vw.md
  website/docs/documentation/transformers/transformers_cognitive.md
  website/docs/documentation/transformers/transformers_core.md
  website/docs/documentation/transformers/transformers_deep_learning.md
  website/docs/documentation/transformers/transformers_opencv.md
  website/docs/documentation/transformers/transformers_vw.md
Owners: @mhamilton723, @drdarshan

update documentation folder to show table of contents
  website/docs/documentation/estimators/core/_AutoML.md
  website/docs/documentation/estimators/core/_Featurize.md
  website/docs/documentation/estimators/core/_IsolationForest.md
  website/docs/documentation/estimators/core/_NN.md
  website/docs/documentation/estimators/core/_Recommendation.md
  website/docs/documentation/estimators/core/_Stages.md
  website/docs/documentation/estimators/core/_Train.md
  website/docs/documentation/estimators/estimators_core.md
  website/docs/documentation/estimators/estimators_lightgbm.md
  website/docs/documentation/estimators/estimators_vw.md
  website/docs/documentation/transformers/cognitive/_AnomalyDetection.md
  website/docs/documentation/transformers/cognitive/_AzureSearch.md
  website/docs/documentation/transformers/cognitive/_BingImageSearch.md
  website/docs/documentation/transformers/cognitive/_ComputerVision.md
  website/docs/documentation/transformers/cognitive/_Face.md
  website/docs/documentation/transformers/cognitive/_FormRecognizer.md
  website/docs/documentation/transformers/cognitive/_SpeechToText.md
  website/docs/documentation/transformers/cognitive/_TextAnalytics.md
  website/docs/documentation/transformers/cognitive/_Translator.md
  website/docs/documentation/transformers/core/_Explainers.md
  website/docs/documentation/transformers/core/_Featurize.md
  website/docs/documentation/transformers/core/_IO.md
  website/docs/documentation/transformers/core/_Image.md
  website/docs/documentation/transformers/core/_Stages.md
  website/docs/documentation/transformers/core/_SuperpixelTransformer.md
  website/docs/documentation/transformers/core/_Train.md
  website/docs/documentation/transformers/transformers_cognitive.md
  website/docs/documentation/transformers/transformers_core.md
  website/docs/documentation/transformers/transformers_deep_learning.md
  website/docs/documentation/transformers/transformers_opencv.md
  website/docs/documentation/transformers/transformers_vw.md
  website/docs/getting_started/installation.md
  website/sidebars.js
Owners: @mhamilton723, @drdarshan

fix source links
  website/docs/documentation/transformers/cognitive/_AnomalyDetection.md
  website/docs/documentation/transformers/cognitive/_AzureSearch.md
  website/docs/documentation/transformers/cognitive/_BingImageSearch.md
  website/docs/documentation/transformers/cognitive/_ComputerVision.md
  website/docs/documentation/transformers/cognitive/_Face.md
  website/docs/documentation/transformers/cognitive/_FormRecognizer.md
  website/docs/documentation/transformers/cognitive/_SpeechToText.md
  website/docs/documentation/transformers/cognitive/_TextAnalytics.md
  website/docs/documentation/transformers/cognitive/_Translator.md
  website/docs/documentation/transformers/deep_learning/_ONNXModel.md
  website/docusaurus.config.js
Owners: @mhamilton723, @drdarshan

delete docsearch for now and will enable it right after publishing the website
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
Owners: @mhamilton723, @drdarshan

[DistributionMeasures] Introduce uniform distribution and treat reference values as columns
  core/src/main/scala/com/microsoft/ml/spark/exploratory/AggregateMeasures.scala
  core/src/main/scala/com/microsoft/ml/spark/exploratory/DistributionMeasures.scala
Owners: @mhamilton723, @drdarshan

fix link error in /blog & make yarn run serve work
  pipeline.yaml
  website/blog/overview.md
  website/docs/reference/contributing_guide.md
  website/docusaurus.config.js
  website/package.json
  website/versioned_docs/version-0.9.1/reference/contributing_guide.md
Owners: @mhamilton723, @drdarshan

fix url
  website/docusaurus.config.js
Owners: @mhamilton723, @drdarshan

update to ignore jekyll
  website/docusaurus.config.js
  website/static/.nojekyll
Owners: @mhamilton723, @drdarshan

fix static image unshown when baseUrl is not /
  website/docusaurus.config.js
Owners: @mhamilton723, @drdarshan

AssociationGaps -> ParityMeasures
  core/src/main/scala/com/microsoft/ml/spark/exploratory/ParityMeasures.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/AggregateMeasuresSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/DistributionMeasuresSuite.scala
  core/src/test/scala/com/microsoft/ml/spark/exploratory/ParityMeasuresSuite.scala
Owners: @mhamilton723, @drdarshan

fix: Docker image should install openjdk-8-jre as opposed to default-… (#1211)
  tools/docker/demo/Dockerfile
  tools/docker/developer/Dockerfile
  tools/docker/minimal/Dockerfile
Owners: @mhamilton723, @drdarshan

fix: Docker image should install openjdk-8-jre as opposed to default-… (#1211)
  tools/docker/demo/Dockerfile
  tools/docker/developer/Dockerfile
  tools/docker/minimal/Dockerfile
Owners: @mhamilton723, @drdarshan

fix: Fixing flaky unit tests
  core/src/test/scala/com/microsoft/azure/synapse/ml/explainers/split1/VectorLIMEExplainerSuite.scala
Owners: @memoryz

fix: Fixing flaky unit tests (#1215)
  core/src/test/scala/com/microsoft/azure/synapse/ml/explainers/split1/VectorLIMEExplainerSuite.scala
Owners: @memoryz

fix: Fixing flaky unit tests (#1215)
  core/src/test/scala/com/microsoft/azure/synapse/ml/explainers/split1/VectorLIMEExplainerSuite.scala
Owners: @memoryz

Add TransformerFuzzing to all unit test suites, refactor chi-squared p-value, address memoryz PR comments, merge from master (new namespace)
  core/src/main/scala/com/microsoft/azure/synapse/ml/exploratory/AggregateMeasures.scala
  core/src/main/scala/com/microsoft/azure/synapse/ml/exploratory/DistributionMeasures.scala
  core/src/main/scala/com/microsoft/azure/synapse/ml/exploratory/ParityMeasures.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/exploratory/AggregateMeasuresSuite.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/exploratory/DataImbalanceTestBase.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/exploratory/DistributionMeasuresSuite.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/exploratory/ParityMeasuresSuite.scala
Owners: @mhamilton723, @drdarshan

DataImbalance -> DataBalance (to go with official name of Data Balance Analysis)
  core/src/main/scala/com/microsoft/azure/synapse/ml/exploratory/AggregateMeasures.scala
  core/src/main/scala/com/microsoft/azure/synapse/ml/exploratory/DataBalanceParams.scala
  core/src/main/scala/com/microsoft/azure/synapse/ml/exploratory/DistributionMeasures.scala
  core/src/main/scala/com/microsoft/azure/synapse/ml/exploratory/ParityMeasures.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/exploratory/AggregateMeasuresSuite.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/exploratory/DataBalanceTestBase.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/exploratory/DistributionMeasuresSuite.scala
  core/src/test/scala/com/microsoft/azure/synapse/ml/exploratory/ParityMeasuresSuite.scala
Owners: @mhamilton723, @drdarshan

Added discrete
  core/src/main/scala/com/microsoft/ml/spark/explainers/ICEExplainer.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/ICEExplainerSuite.scala
Owners: @memoryz

Added logic for discrete features
  core/src/main/scala/com/microsoft/ml/spark/explainers/ICEExplainer.scala
  core/src/test/scala/com/microsoft/ml/spark/explainers/split1/ICEExplainerSuite.scala
Owners: @memoryz

feat: add AADToken
  cognitive/src/main/scala/com/microsoft/azure/synapse/ml/cognitive/CognitiveServiceBase.scala
Owners: @mhamilton723, @drdarshan

update baseUrl and fix static images
  website/docs/about.md
  website/docusaurus.config.js
  website/src/pages/index.js
  website/src/theme/FeatureCards/index.js
  website/static/img/notebooks/SLPipeline.png
  website/static/img/notebooks/SLTrust.png
  website/static/img/notebooks/bankruptcy_image.png
  website/static/img/notebooks/bookstore-photo.jpg
  website/static/img/notebooks/cog_services.png
  website/static/img/notebooks/cog_services_step_1.png
  website/static/img/notebooks/cog_services_step_2.png
  website/static/img/notebooks/cog_services_step_3.png
  website/static/img/notebooks/cog_services_step_4.jpg
  website/static/img/notebooks/cross_cultural_matches.jpg
  website/static/img/notebooks/dog.jpg
  website/static/img/notebooks/drug.png
  website/static/img/notebooks/full_pipe_2.jpg
  website/static/img/notebooks/heart-disease.png
  website/static/img/notebooks/image-lime.png
  website/static/img/notebooks/image-shap.png
  website/static/img/notebooks/lime_results.png
  website/static/img/notebooks/met-artwork-samples.png
  website/static/img/notebooks/met-artworks-processed.png
  website/static/img/notebooks/regression_comparison.png
  website/static/img/notebooks/tabular-shap.png
  website/static/img/notebooks/twitter_sentiment_with_VW.png
  website/versioned_docs/version-0.9.1/about.md
Owners: @mhamilton723, @drdarshan

fix: update baseUrl and fix static images
  website/docs/about.md
  website/docusaurus.config.js
  website/src/pages/index.js
  website/src/theme/FeatureCards/index.js
  website/static/img/notebooks/SLPipeline.png
  website/static/img/notebooks/SLTrust.png
  website/static/img/notebooks/bankruptcy_image.png
  website/static/img/notebooks/bookstore-photo.jpg
  website/static/img/notebooks/cog_services.png
  website/static/img/notebooks/cog_services_step_1.png
  website/static/img/notebooks/cog_services_step_2.png
  website/static/img/notebooks/cog_services_step_3.png
  website/static/img/notebooks/cog_services_step_4.jpg
  website/static/img/notebooks/cross_cultural_matches.jpg
  website/static/img/notebooks/dog.jpg
  website/static/img/notebooks/drug.png
  website/static/img/notebooks/full_pipe_2.jpg
  website/static/img/notebooks/heart-disease.png
  website/static/img/notebooks/image-lime.png
  website/static/img/notebooks/image-shap.png
  website/static/img/notebooks/lime_results.png
  website/static/img/notebooks/met-artwork-samples.png
  website/static/img/notebooks/met-artworks-processed.png
  website/static/img/notebooks/regression_comparison.png
  website/static/img/notebooks/tabular-shap.png
  website/static/img/notebooks/twitter_sentiment_with_VW.png
  website/versioned_docs/version-0.9.1/about.md
Owners: @mhamilton723, @drdarshan

fix security vulnerabilities
  website/package.json
  website/yarn.lock
Owners: @mhamilton723, @drdarshan
